.card-film {
  height: 400px;
  border: 1px solid #c5c5c5;
}

.picture-film {
  height: 80%;
  text-align: center;
}

.picture-film img {
  height: 100%;
}

.info-film {
  height: calc(20% - 2rem);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.title-card {
  padding: 1rem 0rem;
}
