.title-card {
  padding: 1rem 0rem;
}

.card-favorites {
  display: flex;
}

.card-favorite {
  padding: 0.5rem 1rem;
  background-color: #f3f3f3;
  cursor: pointer;
  margin: 0rem 1rem;
  border: 1px solid black;
}

.card-favorite:first-child {
  margin-left: 0px;
}
